<div class="row">
  <div class="jumbotron col-md-10 col-md-offset-1">
    <h1>Phonebook</h1>
    <p>This is a sample web application to demonstrate Angular CRUD app using JAVA EE 7 REST services.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
  
    <button class="btn btn-success" ng-click="add()">Add</button>
    <div class="alert alert-success  alert-dismissible" role="alert" ng-show="success">
      <button type="button" class="close" data-dismiss="alert" ng-click="success=false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      {{message}}
    </div>
    <table class="table table-striped" ng-show="items.length > 0">
      <thead>
        <tr><td>#</td><td>Name</td><td>Phone number</td><td></td><td></td></tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.phoneNumber}}</td>
          <td><button class="btn btn-default" ng-click="edit(item)">Edit</button></td>
          <td><button class="btn btn-danger" ng-click="removeItem(item)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>